body{
		margin: 0;
		background-color: #f3f3f3;
	<--!	
		background: url('images/back_about.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	-->
	}
	
	.topnav {
  	overflow: hidden;
 	 background-color: #333;
 	 margin-bottom: -21px;
 	
	}
	
	.topnav a {
  	 float: left;
  	 display: block;
 	 color: #f2f2f2;
 	 text-align: center;
 	 padding: 14px 16px;
 	 text-decoration: none;
 	 font-size: 17px;
	}
	.topnav a.logo{
		padding: 20px;
	}
	
	.topnav a:hover:not(:abc){
  	  background-color: #ddd;
	  color: black;
	}

	.topnav a.active {
	  background-color: #4CAF50;
	  color: white;
	}
	


	.topnav a:not(:last-child) {
		display: none;
	}
  .topnav a.icon {
    float: right;
    display: block;
   	padding-top: -10px;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a.logo{
  	display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  	}

  	
	.nameimage{
		float: right; 
		height: 200px; 
		width: 230px; 
		padding-right: 0px;
		padding-top:35px;
	}
	.introimage{
		float: left; 
		height: 200px; 
		width: 180px; 
		padding-left: 30px;
		padding-top: 90px;
		
	}
	.content h2{
		padding-top: 30px; 
		padding-left: 20px; 
		font-size: 3vw;
		color: #454242;
	}
	.content h1{
		padding-left: 20px; 
		font-size: 3vw;
		color: #454242;
	}
	.content h3{
		padding-left: 20px; 
		font-size: 3vw;
		color: #454242;
	}

	.content2 h1{
		padding-left: 235px; 
		color:#454242; 
		font-size: 3vw; 
		
	}
	.content2 p{
		 color: #454242;
		 padding-left: 235px; 
		 font-size:2.7vw;
	}
	.lets{
		margin-top: 50px;
	}

	@media screen and (min-width: 768px) {

		.topnav a:not(:last-child) {
		display: block;
	}
	

	.topnav{
	top: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
	}

	.topnav a:hover:not(.active):not(.logo){
  	  background-color: #ddd;
	  color: black;
	}

	.topnav	a.logo{
		float: right;
		padding: 14px 16px;

	}

	.topnav a.icon {
	  display: none;
	}	

		.nameimage{
		float: right; 
		height: 300px; 
		width: 400px; 
		padding-right: 300px;
		padding-top:120px;
		
		}
		.introimage{
		float: left; 
		height: 300px; 
		width: 400px; 
		padding-left: 300px;
		padding-top: 100px;
		
		}

		.content h2{
		padding-top: 50px; 
		padding-left: 300px; 
		font-size: 1.6vw;
		color: #454242;
		}

		.content h1{
		padding-left: 300px; 
		font-size: 3.25vw;
		color: #454242;
		}
		.content h3{
		padding-left: 300px; 
		font-size: 1.95vw;
		color: #454242;
		}

		.content2 h1{
			padding-left: 800px;
			color: #454242;
			font-size: 3.25vw;
		}
		.content2 p{
			padding-left: 800px;
			color: #454242;
			font-size: 1.8vw;
		}
		.lets{
			margin-top: 100px;
		}
	}