body{
		margin: 0;
		background-color: #f3f3f3;
	<--!	
		background: url('images/back_about.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	-->
	}
	
	ul.topnav{
		list-style-type: none;
  		
  		margin:0px;
  		padding: 0px; 
 	    overflow: hidden;
  		border: 1px solid #e7e7e7;
  		background-color: #f3f3f3;
  		
		top: 0;
		width: 100%;
	}
	ul.topnav li{
		float: none;
	}
	li a{
		color: black;
		display: block;
		text-align: center;
		padding: 15px 25px;
		text-decoration: none;
	}
	ul.topnav li a:hover{
		background-color: #ddd;
	}
	
	
	.header{
		text-decoration: underline;
		color: gray;
		text-align: center;
		margin-top: 10px;
	}
	.nameimage{
		float: right; 
		height: 200px; 
		width: 230px; 
		padding-right: 0px;
		padding-top:35px;
	}
	.introimage{
		float: left; 
		height: 200px; 
		width: 180px; 
		padding-left: 30px;
		padding-top: 90px;
		
	}
	.content h2{
		padding-top: 30px; 
		padding-left: 20px; 
		font-size: 3vw;
		color: #454242;
	}
	.content h1{
		padding-left: 20px; 
		font-size: 3vw;
		color: #454242;
	}
	.content h3{
		padding-left: 20px; 
		font-size: 3vw;
		color: #454242;
	}

	.content2 h1{
		padding-left: 235px; 
		color:#454242; 
		font-size: 3vw; 
		
	}
	.content2 p{
		 color: #454242;
		 padding-left: 235px; 
		 font-size:2.7vw;
	}
	.lets{
		margin-top: 50px;
	}

	@media screen and (min-width: 768px) {

		ul.topnav li{
			float: left;
		}

		ul.topnav{
			position: fixed;
		}
		.header{
			
			margin-top: 60px;
		
		}	

		.nameimage{
		float: right; 
		height: 300px; 
		width: 400px; 
		padding-right: 300px;
		padding-top:120px;
		
		}
		.introimage{
		float: left; 
		height: 300px; 
		width: 400px; 
		padding-left: 300px;
		padding-top: 100px;
		
		}

		.content h2{
		padding-top: 50px; 
		padding-left: 300px; 
		font-size: 1.6vw;
		color: #454242;
		}

		.content h1{
		padding-left: 300px; 
		font-size: 3.25vw;
		color: #454242;
		}
		.content h3{
		padding-left: 300px; 
		font-size: 1.95vw;
		color: #454242;
		}

		.content2 h1{
			padding-left: 800px;
			color: #454242;
			font-size: 3.25vw;
		}
		.content2 p{
			padding-left: 800px;
			color: #454242;
			font-size: 1.8vw;
		}
		.lets{
			margin-top: 100px;
		}
	}