body{
		margin: 0;
		background-color: #f3f3f3;
	<--!	
		background: url('images/back_about.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	-->
	}
	
	ul.topnav{
		list-style-type: none;
  		
  		margin:0px;
  		padding: 0px; 
 	    overflow: hidden;
  		border: 1px solid #e7e7e7;
  		background-color: #f3f3f3;
  		
		top: 0;
		width: 100%;
	}
	ul.topnav li{
		float: none;
	}
	li a{
		color: black;
		display: block;
		text-align: center;
		padding: 15px 25px;
		text-decoration: none;
	}
	ul.topnav li a:hover{
		background-color: #ddd;
	}
	
	
	.header{
		text-decoration: underline;
		color: gray;
		text-align: center;
		margin-top: 10px;
	}
	.nameimage{
		float: right; 
		height: 200px; 
		width: 240px; 
		padding-right: 20px;
		padding-top:35px;
	}
	.introimage{
		float: left; 
		height: 200px; 
		width: 200px; 
		padding-left: 30px;
		padding-top: 90px;
		
	}
	
	@media screen and (min-width: 768px) {



	}