body{
		margin: 0;
		background-color: white;	
	}
	
	.topnav {
  	overflow: hidden;
 	 background-color: #333;
 	 margin-bottom: -21px;
 	
	}
	
	.topnav a {
  	 float: left;
  	 display: block;
 	 color: #f2f2f2;
 	 text-align: center;
 	 padding: 14px 16px;
 	 text-decoration: none;
 	 font-size: 17px;
	}
	.topnav a.logo{
		padding: 20px;
	}
	
	.topnav a:hover:not(:abc){
  	  background-color: #ddd;
	  color: black;
	}

	.topnav a.active {
	  background-color: #4CAF50;
	  color: white;
	}
	


	.topnav a:not(:last-child) {
		display: none;
	}
  .topnav a.icon {
    float: right;
    display: block;
   	padding-top: -10px;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a.logo{
  	display: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  	}



	

	.header{
		text-decoration: underline;
		color: gray;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.container{
		max-width: 100%
		margin:0;
		background: white;
		font-size: 1.6vw;
		
	}
	.parallax1{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris.jpg');
		background-size: cover;
		background-attachment: scroll;
		height: 350px;
		width: 100%
	}
	.welcome{
		font-size: 5vw;
		text-align: center;
		color: white;
		padding-top: 180px;
		width: 100%;
	}
	.content{
		color: #454242;
		padding: 30px 20px; 
		font-size: 3.3vw;
		background-color: #f3f3f3;
	}
	

	
	
	.intro1{
		
		height: 450px;
		width: 100%;
		margin: auto;
	}
	.nir{
		text-align: center; 
		color: #454242;
	}
	
	.intro_content{
		
		font-size: 3.3vw;
		margin: auto;
		padding:30px 20px;
		color: #454242;
		background-color: #f3f3f3;
	}

	
	.parallax2{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/Paris2.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	.parallax3{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris3.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	.parallax4{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris4.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	.parallax5{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris5.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	
	.Follow{

		margin-top: 50px;
		color: #454242;
		text-align: center;
	}

.social {

	margin-left: 40%;
}
.fa {
  text-align: center;
  width: 30px;
  margin-bottom: 20px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  margin-left: 10px;
  color: purple;
}
.fa-github {
  margin-left: 10px;
  color: black;
}
.fa-linkedin {
  margin-left: 10px;
  color: teal;
}


	@media screen and (min-width: 768px) {
  		.topnav a:not(:last-child) {
		display: block;
	}
	

	.topnav{
	top: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
	}

	.topnav a:hover:not(.active):not(.logo){
  	  background-color: #ddd;
	  color: black;
	}

	.topnav	a.logo{
		float: right;
		padding: 14px 16px;

	}

	.topnav a.icon {
	  display: none;
	}	
		.parallax1{
			background-attachment: fixed;
			height: 750px;
		}

		.parallax2{
			background-attachment: fixed;
			height: 750px;
		}

		.parallax3{
			background-attachment: fixed;
			height: 750px;
		}

		.parallax4{
			background-attachment: fixed;
			height: 750px;
		}
		.parallax5{
			background-attachment: fixed;
			height: 750px;
		}

		.content{
			margin-left: 80px;
			margin-right: 80px;
			padding-right: 50px;
			padding-left: 50px; 
			font-size: 1.6vw;
		}

		.intro1{
			float: left;
			height: 600px;
			width: 450px;
			margin-top: 100px;
			margin-left: 180px;
		}
		.intro_content{
			font-size: 1.3vw;
			margin-left: 650px;
			margin-right: 50px;
			padding: 70px;
			color: #454242;
			background-color: #f3f3f3;
		}

		.welcome{
			padding-top: 350px;
			font-size: 3vw;
		}

		.social {

		margin-left: 45%;
	}
		
	}