body{
		margin: 0;
		background-color: white;	
	}
	
	ul.topnav{
		list-style-type: none;
  		
  		margin:0px;
  		padding: 0px; 
 	    overflow: hidden;
  		border: 1px solid #e7e7e7;
  		background-color: #f3f3f3;
  		 
		top: 0;
		width: 100%;
	}
	ul.topnav li{
		float: none;
	}
	li a{
		color: black;
		display: block;
		text-align: center;
		padding: 15px 25px;
		text-decoration: none;
	}
	ul.topnav li a:hover{
		background-color: #ddd;
	}
	

	.header{
		text-decoration: underline;
		color: gray;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.container{
		max-width: 100%
		margin:0;
		background: white;
		font-size: 1.6vw;
		
	}
	.parallax1{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris.jpg');
		background-size: cover;
		background-attachment: scroll;
		height: 350px;
		width: 100%
	}
	.welcome{
		font-size: 5vw;
		text-align: center;
		color: white;
		padding-top: 180px;
		width: 100%;
	}
	.content{
		color: #454242;
		padding: 30px 20px; 
		font-size: 3.3vw;
		background-color: #f3f3f3;
	}
	

	
	
	.intro1{
		
		height: 450px;
		width: 100%;
		margin: auto;
	}
	.nir{
		text-align: center; 
		color: #454242;
	}
	
	.intro_content{
		
		font-size: 3.3vw;
		margin: auto;
		padding:30px 20px;
		color: #454242;
		background-color: #f3f3f3;
	}

	
	.parallax2{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/Paris2.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	.parallax3{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris3.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	.parallax4{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris4.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	.parallax5{
			
		margin-top: 0px;
		padding: 0px;
		background: url('images/paris5.jpg');
		background-size: cover;
		background-attachment: scroll;
		max-width: 100%;
		height: 350px;
	}
	

	@media screen and (min-width: 768px) {
  		ul.topnav{
  			position: fixed;
  		}
  		ul.topnav li {float: left;}
		
		.header{
			margin-top: 60px;
		}
		.parallax1{
			background-attachment: fixed;
			height: 750px;
		}

		.parallax2{
			background-attachment: fixed;
			height: 750px;
		}

		.parallax3{
			background-attachment: fixed;
			height: 750px;
		}

		.parallax4{
			background-attachment: fixed;
			height: 750px;
		}
		.parallax5{
			background-attachment: fixed;
			height: 750px;
		}

		.content{
			margin-left: 80px;
			margin-right: 80px;
			padding-right: 50px;
			padding-left: 50px; 
			font-size: 1.6vw;
		}

		.intro1{
			float: left;
			height: 600px;
			width: 450px;
			margin-top: 100px;
			margin-left: 180px;
		}
		.intro_content{
			font-size: 1.3vw;
			margin-left: 650px;
			margin-right: 50px;
			padding: 70px;
			color: #454242;
			background-color: #f3f3f3;
		}

		.welcome{
			padding-top: 350px;
			font-size: 3vw;
		}
	}